body{
    margin:0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 25px ;
    font-style:normal ;
    font-weight:normal ;
    color:white;
    background-color: black;
    text-align: left;
}
a{
    cursor: pointer;
  }
  
  #link a:hover{
     color:red;
     text-decoration : underline;
    }
  
    #link a:active{
      color : Red;
      text-decoration: underline;
    }

  

 #link a{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    padding: 10px;
text-decoration: none;
  }
  .button{
    font-family: 'Play', sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight:bold;
    color: white;
  }
     a.button {
      text-align: center;
      padding:10px 7px;
      border: 2px solid black;
      border-radius:0px;
      margin:70px;
      display: inline-block;
      background-color: red;
      text-decoration: none;
    }
    
   a.button:hover {
    cursor: pointer;
      background-color: white;
      color: red;
    }

    #Logo{
      color: red;
        font-size: 50px;
        font-family:fantasy;
        font-style: oblique;
        font-weight:lighter;
        padding: 5px;
        text-align: left;
      }
      header::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
      }
  
      p{
          text-align: center;
      }
      #info{
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: center;
       z-index:1;
    }

    #info h1,h2,h3{
        color: white;
    }
    #info h1{
        margin-top: 50px;
    }
  header{
    color:black;
    display: flex;
    background-image: url("/images/header_movies.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 800px;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }

  header nav{
    background-color:black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    height: 12%;
  }

.sezione{
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: solid rgb(58, 57, 57);
}
 
 .testo{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

form{
     
    text-align: center;
    margin-bottom: 10%;
    color: white;
  }

.immagine{
    width: 100%;
}

.checkbox1{

    margin-top: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction:row;

}

.checkbox2{

    margin-top: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.name{

    size: 20px;
    text-align: center;
    color: white;
   

}

.optional{
    display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

.container_movie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: solid rgb(44, 43, 43);
    
    
} 
 section p{

  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: darkred;
 }
.container_movie2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: solid rgb(44, 43, 43);
} 

.container{

    position:relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    box-sizing: border-box;
    background-color: transparent;
    border:solid gray 1px ;
    padding: 10px;
    margin-bottom: 20px;
    margin: 2%;
}

footer{
  padding: 40px;
  background-color:rgb(98, 4, 4);
  margin-top: 50px;
  height: 100px;
}

footer address, footer p{
  font-size:30px ;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-style:oblique;
  color: aliceblue;
}

#menu{
  display: none;
}

.links_mobile{
    display: none;
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;  
  }

  .mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width:-webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    
  }

  .no-scroll{
    overflow: hidden;
  }

  .mobile a:hover{

      color:red;
      text-decoration : underline;
     }
   
    .mobile a:active{
       color : Red;
       text-decoration: underline;
     }
  
     .mobile a{
      color: white;
      font-family:'Times New Roman', Times, serif;
      font-size: 25px;
      text-align: center;
      padding: 10px;
  text-decoration: none;
    }

    /*.recensione_modale{
      display: none;
      position: absolute;
      top:0;
      left: 0;
      height: 100vh;
      width: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 2;  
    }
    
    .modale{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top:0;
      left: 0;
      height: 100vh;
      width:-webkit-fill-available;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 2;
      
    }*/

@media (max-width: 500px) {
  #link {
    display: none;
  }

    #info h1{
      font-size: 25px;
    }
    #info h2{
      font-size: 20px;
    }

    #menu{
      display: block;
    }
  #menu div{
    display: block;
    cursor: pointer;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 15px;
  }

  .info_descrizione{
    background-color: black;
    z-index: 2;
  }

  .button{
    font-size: 0.6em;
 }
 
 
  #Logo{
      font-size: 1.3em;
  }

  
  header{
      height: 70vh;
  }

      footer address, footer p{

    font-size: 0.8em;
                           }
  footer
{
 height: 10vh;

}

.name{

  font-size: 14px;
  text-align: center;
  color: white;
 

}

.container{

  position:relative;
  display: flex;
  flex-direction: column;
  width: 39%;
  box-sizing: border-box;
  background-color: transparent;
  border:solid gray 1px ;
  padding: 10px;
  margin-bottom: 20px;
  margin: 2%;
}
section p{

  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: darkred;
 }
}

